{% extends 'base.html.twig' %}

{% block body %}
{%for coupon in coupons%}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">-10%</h5>
    <h6 class="card-subtitle mb-2 text-muted">Attribuer a {{coupon.particulierId.userId.code}}</h6>
    <p class="card-text">Auprés de {{coupon.commercantId.denomination}}</p>
  </div>
</div>
{%endfor%}
{% endblock %}
