.my-nav {
    background: transparent !important;
    transition: height .5s, line-height .5s;
}

.my-img {
    height: 90px;
    transition: all .5s;
}

.my-img-redux{
    height: 50px;
    transition: all .5s;
}

.my-top {
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 140px;
    height:100vh;
    min-height:100vh;
    background-position: center;
    background-size:cover;
    background-image: url('../images/background/oeil-2-back.jpg');
    height:calc(90% - 50px);
    height: 90vh;
}

.invert { 
    filter: invert(100%);
}

@import "~bootstrap/scss/bootstrap";