<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="build/app.css">
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
            <nav class="navbar navbar-expand-lg navbar-dark my-nav sticky-top">
                <div class="container font-weight-bold">
                    <a class="navbar-brand" href="#">
                        <img class="my-img invert" src="images/logo/logo.png" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Menu 1</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Menu 2</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="login">Inscription/Connexion</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="build/app.js"></script>
            <script type="text/javascript" scr="{{asset('build/adminFormRequest.js')}}"></script>
        {% endblock %}
        
    </body>
</html>
